.last: .w
  h2 Последние одобренные объекты

  .last__slider
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.