include ../button/button

section.last: .w
  .last__header Последние одобренные объекты
  .last__aside
    +button('a').last__button--top(href='registry.html') смотреть весь реестр
    .last__counter
      .last__counter-title Уже одобрено
      .last__flip 1
      .last__flip 2
      .last__flip 3
      .last__flip 4
      .last__flip 5
    .last__counter
      .last__counter-title Уже продано
      .last__flip 1
      .last__flip 2
      .last__flip 3

  .last__slider-wrapper: .last__slider.owl-carousel
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.
    .last__card
      img.last__image(src='https://placehold.it/194x124')
      .last__date 10.09.2017
      .last__title Москва
      .last__subtitle ЖК «Петербург»
      .last__description 3-х комн. кв.

  +button('a').last__button--bottom смотреть весь реестр