.last
  padding: 72px 0 90px
  position: relative
  
  h2
    font-weight: bold
    font-size: 22px
    color: #227eba
    text-transform: uppercase

  &__card
    background: #fff
    border: 1px solid #D2D7D9
    display: inline-block
    padding: 7px
    height: 261px
    border-radius: 3px
    line-height: 1.4

  &__image
    display: block
    margin-bottom: 10px

  &__date
    font-size: 13px
    color: #969696
    margin-bottom: 2px
    
    &:before
      content: ''
      display: inline-block
      float: right
      background-image: url(sprite-check.svg);

  &__title
    font-size: 17px
    color: #505050
    margin-bottom: 2px

  &__subtitle,
  &__description
    ont-size: 14px
    color: #969696
    margin-bottom: 5px