.pagination
  //a.pagination__prev Пред.
  //a.pagination__page 1
  //a.pagination__page 2
  //a.pagination__page 3
  //a.pagination__page 4
  //a.pagination__page.pagination__page--active 5
  //.pagination__sep ...
  //a.pagination__page 6
  //a.pagination__next След.