.partners-slider
  .owl-carousel
    img(src='https://placehold.it/200x90')
    img(src='https://placehold.it/200x90')
    img(src='https://placehold.it/200x90')
    img(src='https://placehold.it/200x90')
    img(src='https://placehold.it/200x90')
    img(src='https://placehold.it/200x90')
