include ../popup/popup

+popup()#popup-register
  .popup__text Войти в личный кабинет
  form(novalidate)
    .popup__input: +input('Телефон')(type='phone')
    .popup__input: +input('Пароль')(type='password')
    +button('input', true)(value='Войти')
