include ../button/button

.partners
  .partners__title ПАРТНЕРЫ
  .w
    .partners__block
      .partners__slider
        include ../partners-slider/partners-slider
      .partners__button
        +button('a')(class='button--white' href='#header') Стать партнером