.input
  display: block
  position: relative

  &__input
  &__select
    display: block
    width: 100%
    background: #F0F5F8
    border: 1px solid transparent
    outline: 0
    font-size: 16px
    line-height: 1.2
    padding: 30px 15px 13px
    border-radius: 4px
    color: #628aa1
    anim()
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    &:focus
      background: #c1d8e5
      border: 1px solid #CDD6DC

    &:focus ~ .input__label,
    &:valid ~ .input__label,
    &:disabled ~ .input__label
      top: 10px
      font-size: 12px
      color: #628aa1

  &__label
    display: block
    position: absolute
    color: #40647C
    font-size: 15px
    left: 15px
    top: 22px
    pointer-events: none
    anim()

  &__error
    position: absolute
    top: 100%
    left: 0
    font-size: 13px
    font-weight: 300
    color: #e94c36

  .suggestions-wrapper
    position: absolute
    color: #4a4a4a
    font-size: 13px

  &--search

    &:after
      content: ''
      display: block
      background-image: url(sprite-search.svg)
      position: absolute
      right: 14px
      top: 50%
      transform: translateY(-50%)
      pointer-events: none

    .input__input
      background: #E0E9EF
      color: #40647C
      &:focus
        border-color: transparent

  &--error
    .input__input,
    .input__select
      border: 1px solid #E94C36
      color: #e94c36

    .input__label
      color: #e94c36

//&--select
//  width: 100%
//  background: #F0F5F8
//  border: 1px solid transparent
//  outline: 0
//  font-size: 16px
//  line-height: 1.2
//  padding: 30px 15px 13px
//  border-radius: 4px
//  color: #628aa1