mixin input(placeholder, search, select, textarea)
  - var className = 'input' + (search ? ' input--search' : '') + (select ? ' input--select' : '') + (textarea ? ' input--textarea' : '')
  div(class=className)
    if(textarea)
      textarea.input__textarea(required)&attributes(attributes)
    else if(select)
      select.input__select(required)&attributes(attributes)
        if (block)
          block
    else
      input.input__input(value='' required)&attributes(attributes)
    label.input__label= placeholder
    .input__error