.not-found
  .not-found__title
    .not-found__title-text 404
    .not-found__title-subtext страница не найдена
  .not-found__separator
  .not-found__content
    p
      | Страница, которую вы искали, не существует.#[br]
      | Возможно вы ввели неправиильный адрес или страница была удалена.
    a(href='..') Перейти на главную страницу