mixin menu(full)
  .menu(class=full && 'menu--full'): .w
    .menu__images
      a.menu__logo(href='..')
      .menu__vtb
    button.menu__hamburger
    .menu__wrapper
      button.menu__close
      ul
        li.menu__active: a(href='registry.html') Реестр объектов
        li: a(href='#works') Как это работает
        li: a(href='#advantages') Наши преимущества
      .menu__item: a.menu__button(href='order_step1.html') ЗАКАЗАТЬ
      .menu__item: a.menu__cabinet(href='/profile.html') Личный кабинет