$baseClass = '.menu'

{$baseClass}
  @media (max-width: $breakpoint-sm - 1)
    text-align: center

  &__images
    float: left

    @media (max-width: $breakpoint-md - 1)
      float: none
      text-align: center

  &__logo
    background-image: url(sprite-logo-white.svg)
    display: inline-block
    vertical-align: middle

  &__vtb
    display: inline-block
    vertical-align: middle
    background-image: url(../header/sprite-vtb-small.svg)
    margin-left: 18px
    margin-top: 9px

  &__hamburger,
  &__close
    display: none
    position: absolute
    right: 10px
    top: 10px
    background-color: transparent
    border: 0
    margin: 0
    padding: 0
    @media (max-width: $breakpoint-sm - 1)
      display: block

  &__hamburger
    position: fixed
    z-index: 100
    background-image: url(sprite-menu.svg)

  &__close
    background-image: url(../popup/sprite-close.svg)

  &__wrapper
    text-align: right
    font-size: 13px
    padding-top: 8px

    @media (max-width: $breakpoint-sm - 1)
      text-align: center
      display: none
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: #ffffff
      z-index: 1000
      transform: translateY(-50px)
      opacity: 0
      anim()

    &--visible
      @media (max-width: $breakpoint-sm - 1)
        display: block
    &--active
      @media (max-width: $breakpoint-sm - 1)
        transform: translateY(0px)
        opacity: 1

    ul
      display: inline-block
      padding: 0
      margin: 0

      @media (max-width: $breakpoint-sm - 1)
        display: block
        margin: 40px 0 50px

    li
      display: inline-block
      margin-left: 25px

      &:first-child
        margin-left: 0

      @media (max-width: $breakpoint-lg - 1)
        margin-left: 5px

      @media (max-width: $breakpoint-md - 1)
        margin-left: 15px

      @media (max-width: $breakpoint-sm - 1)
        margin: 0 0 40px
        display: block
        color: #227eba
        font-size: 17px

      a
        display: block
        border-bottom: 3px solid transparent
        text-transform: uppercase
        padding-bottom: 5px
        anim()

        @media (max-width: $breakpoint-sm - 1)
          display: inline-block

  li&__active a,
  &__wrapper li a:hover
    border-bottom: 3px solid #fff
    @media (max-width: $breakpoint-sm - 1)
      border-bottom: 3px solid #227EBA

  &__item
    display: inline-block
    margin-left: 25px

    @media (max-width: $breakpoint-lg - 1)
      margin-left: 5px

    @media (max-width: $breakpoint-md - 1)
      margin-left: 25px

    @media (max-width: $breakpoint-sm - 1)
      margin: 0 0 40px
      display: block

  &__button
    display: inline-block
    vertical-align: middle
    background: #fff
    color: #227eba
    height: 42px
    line-height: 40px
    border-radius: 21px
    padding: 0 21px
    cursor: pointer
    font-weight: bold
    border: 1px solid #fff
    outline: 0
    anim()

    &:hover
      background-color: transparent
      color: #ffffff

    @media (max-width: $breakpoint-sm - 1)
      margin: 0
      background: #4CAF50
      color: #ffffff
      font-size: 16px
      border: 2px solid #4CAF50

      &:hover
        background-color: transparent
        color: #4CAF50

  &__cabinet
    background-color: transparent
    border: 0
    font-size: 14px
    cursor: pointer
    padding: 0
    margin: 0
    outline: 0
    &:before
      content: ''
      display: inline-block
      vertical-align: bottom
      background-image: url(sprite-cabinet.svg)
      margin-right: 4px

    @media (max-width: $breakpoint-sm - 1)
      color: #227eba
      font-size: 17px

      &:before
        background-image: url(sprite-cabinet-blue.svg)

  &--full
    background: #fff
    padding: 23px 0 20px
    color:  #227eba

    @media (max-width: $breakpoint-md - 1)
      padding: 8px 0
    @media (max-width: $breakpoint-sm - 1)
      text-align: center

    {$baseClass}__logo
      background-image: url(sprite-logo-color.svg)

    {$baseClass}__cabinet:before
      background-image: url(sprite-cabinet-blue.svg)

    {$baseClass}__wrapper
      @media (max-width: $breakpoint-md - 1)
        padding-top: 0

      li{$baseClass}__active a,
      li a:hover
        border-color: #227EBA

    {$baseClass}__button
      background: #4CAF50
      color: #ffffff
      border: 2px solid #4CAF50

      &:hover
        background-color: transparent
        color: #4CAF50

    {$baseClass}__hamburger
      background-image: url(sprite-menu-black.svg)
      top: 20px
