.registry
  .w
    .registry__container.baron.baron__root.baron__clipper
      .baron__scroller
        for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
          .registry__row
            .registry__number 213
            .registry__address Москва, ул.Фридриха Энгельса 75стр.11 кв.200
            .registry__date 19 июля 2017
            .registry__status В продаже
            .registry__certificate ВА - 237М
      .baron__track
        .baron__free: .baron__bar
