include ../modules/popup/popup

doctype html
html
  head
    title Hello
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" media="all" href="app.css")
    //link(rel="shortcut icon" href="/favicon.ico")

  body
    block body
    .popups
      +popup()#popup-register
        .popup__text Войти в личный кабинет
        form(novalidate)
          .popup__input: +input('Телефон')(type='phone')
          .popup__input: +input('Пароль')(type='password')
          +button('input', true)(value='Войти')

  script(src='js/app.js')