include ../button/button
.advantages#advantages
  .advantages__title Наши преимущества
  .w.advantages__items
    .advantages__item
      .advantages__image
        img(src='modules/advantages/advantage-1.png')
      .advantages__content
        .advantages__name Увеличение привлекательности объекта для покупателя
        .advantages__text Юридический отдел занимается тщательным подбором данных о текущем состоянии дел на предприятии с целью предоставления будущему покупателю достоверной информации о перспективах использования объекта недвижимости в бизнесе.
    .advantages__item
      .advantages__image
        img(src='modules/advantages/advantage-2.png')
      .advantages__content
        .advantages__name Профессиональная фотосъемка для экспонирования
        .advantages__text Гиротахометр, в отличие от некоторых других случаев, безусловно не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения систематический уход.
    .advantages__item
      .advantages__image
        img(src='modules/advantages/advantage-3.png')
      .advantages__content
        .advantages__name Размещение объявления на всех «работающих» сайтах в один клик
        .advantages__text Гиротахометр, в отличие от некоторых других случаев, безусловно не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения систематический уход.
    .advantages__item
      .advantages__image
        img(src='modules/advantages/advantage-4.png')
      .advantages__content
        .advantages__name Минимизация
        .advantages__text Гиротахометр, в отличие от некоторых других случаев, безусловно не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения систематический уход.
    .advantages__item
      .advantages__image
        img(src='modules/advantages/advantage-5.png')
      .advantages__content
        .advantages__name Быстрый выход на сделку
        .advantages__text Гиротахометр, в отличие от некоторых других случаев, безусловно не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения систематический уход.

  +button('a')(href='#header') заказать «одобрено»