.profile
  margin-left: 200px

  //@media (max-width: $breakpoint-md - 1)
  //  margin-left: 0

  &__wrapper
    position: fixed
    left: 0
    top: 0
    height: 100%
    width: 200px
    background: #fff
    box-shadow: 0 21px 32px rgba(#233C4C, .05)

  &__logo
    background-image: url(../menu/sprite-logo-color.svg)
    margin: 24px auto 48px

  &__info
    text-align: center
    padding: 0 20px
    margin-bottom: 40px

  &__avatar
    overflow: hidden
    border: 3px solid #227EBA
    border-radius: 50%
    display: inline-block
    margin-bottom: 28px
    img
      display: block

  &__name
    color: #4476B0
    font-size: 18px
    margin-bottom: 12px

  &__text
    font-size: 12px
    font-weight: 300
    color: #898989

  &__stats
    padding: 0 20px
    width: 100%
    color: #505050
    font-size: 12px

    td
      padding-bottom: 12px
      vertical-align: top

  &__count
    width: 1px
    font-weight: bold
    font-size: 14px
    color: #227eba