.button
  display: inline-block
  vertical-align: bottom
  border: 1px solid rgba(#4476B0, .34)
  background: transparent
  color: #4476B0
  height: 54px
  line-height: 54px
  border-radius: 4px
  font-size: 15px
  font-weight: bold
  text-align: center
  text-transform: uppercase
  padding: 0 15px
  cursor: pointer
  outline: 0
  anim(.15s)

  &:hover
    border: 1px solid #4476B0
    background: #4476b0
    color: #ffffff

  &--block
    display: block
    width: 100%

  &--white
    border-color: #fff
    color: #fff

    &:hover
      color: #227dba
      background: #ffffff