include ../form/form

+form(2)
  form(action='order_done.html' novalidate)
    .form__order Заказ № 3333
    .form__row
      .form__docs
        p Правоустанавливающие документы
        ul
          li Свидетельство
          li Выписка ЕГРН
          li Договор дарения и тд.
      .form__aside: .form__upload
    .form__row
      .form__docs
        p Технические документы
        ul
          li Поэтажный план
          li Экспликация
      .form__aside: .form__upload
    .form__row
      .form__docs
        p Дополнительно
        ul
          li Справка и ПНД
          li Выписка из домой книги и тд.
      .form__aside: .form__upload
    .form__row
      .form__docs
        .form__checkbox
          input(type='checkbox' id='form-news')
          label(for='form-news') Хочу получать новости и специальные предложения в виде смс сообщений
      .form__aside: button.form__button Готово