.certificate
  a.certificate__download(href='modules/certificate/certificate.png' download) Сохранить
  //.certificate__image(style='background-image:url(modules/certificate/certificate.png)')
  img.certificate__image(src='modules/certificate/certificate.png')