include ../input/input
include ../menu/menu

header.header#header
  +menu()
  .w
    .header__content
      h1 Нет нужды ехать в офис
      h2 –  наши сотрудники узнают всё про недвижимость#[br]которая вас интересует и помогут с ипотекой!
    .header__form-wrapper
      .header__form-title #[span Оставить заявку] на проверку недвижимости
      form.header__form(novalidate action='order_step1.html')
        .header__form-input.header__address: +input('Адрес')
        .header__form-input.header__flat: +input('Квартира')
        .header__form-input.header__phone: +input('Телефон')(type='phone')
        .header__form-input.header__submit: button.header__submit-button ЗАКАЗАТЬ «ОДОБРЕНО»
      .header__form-error
