.footer
  margin-top: 40px
  padding-bottom: 50px

  @media (max-width: $breakpoint-sm - 1)
    text-align: center

  &--line .w
    padding-top: 25px
    border-top: 1px solid #C2D7E5

  &__logo,
  &__vtb
    display: inline-block
    vertical-align: middle

  &__logo
    background-image: url(sprite-logo.svg)

  &__vtb
    margin-left: 25px
    background-image: url(sprite-vtb.svg)

  &__copyright
    margin-top: 8px
    font-size: 12px
    color: #96b6ca

  &__icons
    padding-top: 10px
    text-align: right

    @media (max-width: $breakpoint-sm - 1)
      text-align: center

  &__icon
    display: inline-block
    vertical-align: middle
    width: 47px
    height: 47px
    line-height: 47px
    background: #ffffff
    border-radius: 50%
    margin: 0 7px
    text-align: center
    font-size: 0
    box-shadow: 0 2px 4px #C1CACF
    border: 1px solid rgba(#C1CACF, .26);
    anim()

    &:hover
      //box-shadow: 0 1px 0 #C1CACF
      box-shadow: 0 0 0 #C1CACF

    &:after
      content: ''
      display: inline-block
      vertical-align: middle

    &--vk:after
      background-image: url(sprite-vk.svg)
    &--fb:after
      background-image: url(sprite-fb.svg)
    &--ins:after
      background-image: url(sprite-ins.svg)
    &--tw:after
      background-image: url(sprite-tw.svg)

  &__links
    text-align: right

    @media (max-width: $breakpoint-sm - 1)
      text-align: center

  &__link
    margin-left: 8px
    font-size: 12px
    color: #96b6ca

    &:hover
      text-decoration: underline