extends pug/_layout

block body
  include modules/header/header
  include modules/last/last
  include modules/video/vldeo
  include modules/works/works
  include modules/advantages/advantages
  include modules/partners/partners
  include modules/footer/footer
