section.video
  .video__wrapper
    .video__video
    .video__container
      .video__content
        .video__title Призыв посмотреть#[br]видео «О НАС»
        .video__text Текст который объясняет почему#[br]стоит посмотреть это видео
