section.video
  .video__right
    .video__content
      .video__title Призыв посмотреть#[br]видео «О НАС»
      .video__text Текст который объясняет почему#[br]стоит посмотреть это видео

  .video__left
    .video__video
