include ../form/form

+form(2)
  .done
    .done__title
      .done__logo
      | Все готово!
    .done__text Спасибо, что используете сервис «Одобрено», мы знаем как лучше для наших клиентов!
    .done__buttons
      a.done__button(href='..') на сайт
      a.done__button(href='#') В личный кабинет
